
.creator-container {
    min-width: 70%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /*background: rgba(255, 255, 255, .3);*/
}

.input-container {
    height: 80%;
    overflow: auto;
}

.input-container::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	background-color: #F5F5F5;
}

.input-container::-webkit-scrollbar {
	width: 7px;
	background-color: #F5F5F5;
}

.input-container::-webkit-scrollbar-thumb {
	background-color: #7E7E7E;
	/*border: 2px solid #555555;*/
}

input:focus,
textarea:focus,
.submit-button:focus {
    outline: none;
    background: rgba(255, 255, 255, .2);
}

.title-input,
.names-input {
    min-height: 1.3em;
    /*height: 1em;*/
    padding-top: .25em;
    /*padding-bottom: .2em;*/
    font-size: 3em;
    border-width: 0;
    background: none;
    width: 50%;
    text-align: center;
    resize: none;
    overflow: hidden;
}

.title-input::placeholder,
.names-input::placeholder {
    color: rgba(117,117,117, .9)
}

.submit-button:hover {
    background: rgba(255, 255, 255, .2);
}

.submit-button {
    text-decoration: none;
    font-size: 3em;
    font-family: Neutra Text TF Bold;
    color: #000;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    display: block;
    text-transform: uppercase;
    border: solid;
    padding-top: .3em;
    padding-bottom: .1em;
    margin-top: 1em;
}

.title-input {
    font-family: 'Neutra Text TF Bold Italic';
    
}

.names-input {
    font-family: 'Neutra Text TF Bold';
}

.input-row {
    margin-top: 1em
}

.instructions {
    font-size: 3em;
    font-family: 'Neutra Text TF Bold Italic';
    text-decoration: underline;
    text-align: center;
}

.sub-instructions {
    text-align: center;
    font-family: 'Neutra Text TF Bold Italic';
    font-size: 2.2em;
}

.sub-instructions a:hover {
    color: #757575;
}

.sub-instructions a {
    color: black;
    /* background: rgba(255, 255, 255, .2); */
}