
.creator-container {
    min-width: 70%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /*background: rgba(255, 255, 255, .3);*/
    overflow: auto;
}

input:focus,
textarea:focus {
    outline: none;
    background: rgba(255, 255, 255, .2);
}

.title-input,
.names-input {
    min-height: 1.3em;
    /*height: 1em;*/
    padding-top: .25em;
    /*padding-bottom: .2em;*/
    font-size: 3em;
    border-width: 0;
    background: none;
    width: 50%;
    text-align: center;
    resize: none;
    overflow: hidden;
}

.title-input {
    font-family: 'Neutra Text TF Bold Italic';
    
}

.names-input {
    font-family: 'Neutra Text TF Bold';
}

.input-row {
    margin-top: 1em
}

.instructions {
    font-size: 3em;
    font-family: 'Neutra Text TF Bold Italic';
    text-decoration: underline;
    text-align: center;
}